.bottombar {
    height: 92px;
    width: 100%;
    max-width: 650px;

    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    color: white;
    z-index: 50;
}

.bottombar button {
    background: #32b72f;
    height: 60px;
    width: 88%;
    max-width: 400px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .blocked {
    background: #cbcbcb;
}

.bottombar button p:first-child, .bottombar .blocked p:last-child {
    display: none;
}

.bottombar .blocked p:first-child {
    display: block;
    font-size: 20px;
    width: 200px;
}

.bottombar button p:last-child {
    font-size: 20px;
    font-weight: 700;
}