.menu {
    width: 100%;
    max-width: 650px;

    padding: 0 19px;
}

.menu .title {
    color: #333;
    font-size: 26px;
    letter-spacing: 1.8%;
    margin-bottom: 17px;
}

.menu .options {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    overflow-x: scroll;
}

.options > div {
    width: 172px;
    min-width: 172px;
    height: 216px;
    margin: 0 16px 0 0;
    background: white;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.options .selected {
    border: 5px solid #32b72f;
}

.options > div > * {
    width: 144px;
}

.options img {
    height: 87px;
    border-radius: 4px;
    margin-top: 18px;
    object-fit: cover;
    object-position: center;
}

.options > div > p:nth-of-type(1){
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.options > div > p:nth-of-type(2){
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
}

.options > div > p:nth-of-type(3){
    font-size: 16px;
    margin-bottom: 13px;
}

.options ion-icon {
    position: absolute;
    right: 8px;
    bottom: 11px;
    font-size: 16px;
    width: 16px;
    color: #32b72f;
    display: none;
}

.options > .selected ion-icon{
    display: inline-block;
}
