body {
    height: 100vh;
    width: 100%;
}

.content {
    width: 100%;
    margin: 0 auto;
    max-width: 650px;
    background: #e5e5e5;
    font-family: 'Roboto';
    user-select: none;
    padding: 125px 0 85px 0;
}

.page-wall {
    width: 100%;
    max-width: 650px;
    height: 100vh;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 100;
}

.hidden {
    display: none;
}

.title {
    font-family: 'Righteous';
}

button {
    cursor: pointer;
}