.confirmation {
    position: fixed;
    z-index: 150;
    width: 378px;
    height: 353px;
    background: #50d074;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    left: calc(50% - 189px);
    border-radius: 9px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.confirmation > * {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}

.confirmation > p {
    font-weight: bold;
}

.confirmation > div {
    justify-content: space-between;
}

.confirmation #total {
    font-weight: bold;
    text-transform: uppercase;
}

.confirmation button {
    cursor: pointer;
}

.confirmation button:first-of-type {
    color: #50d074;
    font-weight: bold;
    height: 52px;
    border-radius: 100px;
    background: white;
}

.confirmation button:last-of-type {
    font-size: 20px;
    font-weight: bold;
    background: transparent;
}